body{
    margin: 0;
    padding: 0;
}

.foto-perfil{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

        p {
            font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        .foto-perfil {
            height: 100%;
            max-width: auto;
            border-radius: 50%;
        }

        .icones {
            padding-left: 5px;
        }

        .titulosBrancos {
            text-decoration: underline;
            text-underline-position: under;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
        }

        .titulosVerdes {
            text-decoration: underline;
            text-underline-position: under;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: #18bc9c
        }

        .paragrafoBrancos {
            color: white !important;
        }


        .jumbotron {
            margin-bottom: 0px;
        }

        html {
            scroll-behavior: smooth;
        }

        p {
            color: black !important;
        }

        .corPrimaria {
            background-color: #18bc9c;
        }

        .itemMenu {
            color: white;
        }

.content{
    height: 315px; 
    width: 535px;
    border: #18bc9c solid;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
}

.navigation {
    position: absolute;
    bottom: 20px;
    display: flex;
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}